<hr>
<div class="text-center heading font-english">
  <i class="fa-solid fa-comment green"></i> Commnent
</div>
<table class=table>
  <tr>
    <th></th>
    <th>User Name</th>
    <th>Comment</th>
    <th></th>
  </tr>
  <% @post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= image_tag post_comment.user.get_profile_image(70,70), class: "rounded-circle" %>
      <td>
        <%= post_comment.user.name %>
      </td>
      <td>
        <%= post_comment.comment %>
      </td>
      <td>
        <%= link_to admin_comment_path(post_comment), class: "btn btn-outline-danger", method: :delete, data: {confirm: "コメントを削除しますか？"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>