<hr>
<div class="text-center font-english heading">
  <i class="fa-solid fa-feather tag-btn"></i> <%= @user.name %>'s columns</div>
<hr>

<% @columns.each do |column| %>

<%= link_to column.title, column_path(column) %>
<hr>
<% end %>