<hr>
<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="font-english heading">
        <i class="fa-solid fa-paperclip tag-btn"></i> Link
      </div>
      <hr>
      <%= link_to user_columns_path(@user), class: "side" do %>
        <i class="fa-solid fa-user user-btn"></i> 自分のコラム一覧
      <% end %>
      <hr>
      <%= link_to new_column_path, class: "side" do %>
      <i class="fa-solid fa-wand-magic-sparkles post-btn"></i> コラムを投稿する
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="text-center font-english heading">
        <i class="fa-solid fa-feather tag-btn"></i> Columns List
      </div>
      <hr>
      <% @columns.each do |column| %>
        <%= image_tag column.user.get_profile_image(100,100), class: "rounded-circle" %>
        <%= link_to column.title, column_path(column) %>
        <hr>
      <% end %>
    </div>
  </div>
</div>