<hr>
<div class="text-center font-english heading"><i class="fa-solid fa-feather tag-btn"></i> Columns List</div>
<hr>

<% @columns.each do |column| %>
  <%= image_tag column.user.get_profile_image(100,100), class: "rounded-circle" %>
  <%= link_to column.title, column_path(column) %>
  <hr>
<% end %>