<hr>
<h4 class="text-center"><b><i class="fa-solid fa-feather"></i> コラム一覧</b></h4>
<hr>

<% @columns.each do |column| %>
  <%= image_tag column.user.get_profile_image(100,100), class: "rounded-circle" %>
  <%= link_to column.title, column_path(column) %>
  <hr>
<% end %>