<hr>
<div class="text-center"><h5>管理者機能top</h5>
<hr>
<%= link_to "ユーザー管理", admin_users_path, class: "btn btn-outline-info" %>
<%= link_to "コメント管理", admin_comments_path, class: "btn btn-outline-success" %>

</div>