<div class="text-center">
  <div class="font-english heading">
    <i class="fa-solid fa-moon yellow"></i> GomaCafe About</div>
  <%= image_tag 'cafe.jpg', style: "width: 500px;" %>
  <hr>
  <b>1.自分のレシピを記録する</b>
  <p>紙にメモするのは面倒という人はぜひ使用してみてほしいです。公開・非公開を選択できるので軽い気持ちで書けます。</p>
  <b>2.コラムを書く</b>
  <p>レシピ以外のことも記録できます！日記のように使ってもOK</p>
  <b>3.賞味期限管理</b>
  <p>カレンダーで管理することで、気づいたら廃棄になってしまった..ということを防げます。</p>
  <b>4.他のユーザーが投稿したレシピを見れる</b>
  <p>レシピ探しに困ったら他のユーザーが投稿したレシピを探してみましょう！</p>
  <hr>
  <p>誰かと繋がらなくても楽しめる、そんなHPにしました。</p>
</div>