
<h1>gomacafe</h1>

<%= image_tag 'top.jpg', class: "top-image" %>


<div class="d-flex flex-column">
  <p>お菓子作りが好きな人</p>
  <p>みんなにレシピを発信したい</p>
  <p>作ったレシピをデータ保存したい</p>

  <p>そんな人に送るレシピ投稿・共有サイトです</p>
  
  <%= link_to "新規登録", new_user_registration_path, class:"btn btn-success" %>
  <%= link_to "ログイン", new_user_session_path, class:"btn btn-secondary" %>
  ゲストログイン
</div>
