
  <div class="container">
    <div class="row">
      <div class="mx-auto">

<h1>gomacafe</h1>

  <%= image_tag '横長', style: "width:900px; height:300px;" %>



<p>お菓子作りが好きな人</p>
<p>みんなにレシピを発信したい</p>
<p>作ったレシピをデータ保存したい</p>


<p>そんな人に送るレシピ投稿・共有サイトです</p>
<%= link_to new_user_registration_path, class:"btn btn-success" do %>新規登録<% end %>
<%= link_to new_user_session_path, class:"btn btn-success" do %>ログイン<% end %>
ゲストログイン

    </div>
  </div>
</div>