@use '~bootstrap/scss/bootstrap';


.playwrite-in-title {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.favorite-btn {
  color: #e54747;
}

.nofavorite-btn {
  color: #808080;
}
