@use '~bootstrap/scss/bootstrap';
@import "./simple_calendar.scss";

.font-english {
  font-family: "Philosopher", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.mozi {
  font-size: 1.5rem;
}

.heading {
  font-size: 2rem;
}

.tag {
  color: #000;
  background-color: #faf7f0;
  border-radius: 8px;
  padding: .5rem .75rem;
  font-size: .875rem;
  padding: .5rem .75rem;
  margin-left: 6px;
}

.space {
  margin-bottom: 5px;
}

.top {
  margin-top: 50px;
}

.link {
  color: #000;
}

/* users/show */
.side {
  display: block;
  color: #000;
}

.image {
  text-align: center;
}

ul {
  list-style-type: none; 
}

.edit {
  color: green;
  background-color: #faf7f0;
  border-radius: 8px;
  padding: .5rem .75rem;
  font-size: .875rem;
  padding: .5rem .75rem;
  margin-left: 6px;
}

.calendar-title {
  font-size: 2rem;
}

// homes/top
#loading {
  background-color: #edd0ca;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}

#loading p {
  font-size: 2rem;
}

// homes/topのレスポンシブ対応
.img-item {
  display: inline-block;
}

/* 画面幅が768px以下のときは、中央だけ表示 */
@media (max-width: 768px) {
  .img-left,
  .img-right {
    display: none !important;
  }
  .img-center {
    display: inline-block !important;
  }
}

/* fontawesomeの色 */
.favorite-btn {
  color: #e54747;
}

.nofavorite-btn {
  color: #808080;
}

.green {
  color: #84c98b;
}

.blue {
  color: #0067c0
}

.yellow {
  color: #fff799;
}

.pale-blue {
  color: #8490c8;
}

.brown {
  color: #C5956B;
}

.orange {
  color: #fdbf64;
}

.red {
  color: #cc7965;
}

.water-blue {
  color: #c3f2ff;
}

.page-item .page-link {
  color: gray;
}
.page-item.active .page-link {
  background-color: gray;
  border-color: gray;
}