<hr>
<div class="text-center"><h2>検索結果</h2></div>

<!--検索対象モデルがUserの時 -->
<% if @range == "user" %>
  <%= render 'users/users', users: @users %>
<% else %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>
