<hr>
<div class="text-center font-english heading">
  <i class="fa-solid fa-magnifying-glass pale-blue"></i> Results
</div>

<!--検索対象モデルがUserの時 -->
<% if @range == "user" %>
  <%= render 'users/users', users: @users %>
<% else %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>
