<hr>
<h4 class="text-center"><b><i class="fa-solid fa-magnifying-glass"></i>検索結果</b></h4>

<!--検索対象モデルがUserの時 -->
<% if @range == "user" %>
  <%= render 'users/users', users: @users %>
<% else %>
  <%= render 'posts/posts', posts: @posts %>
<% end %>
