<div class="row">
  <div class="mx-auto">
    <hr>
    <div class="text-center font-english heading">
      <i class="fa-solid fa-beer-mug-empty"></i> Edit Recipe
    </div>
    <hr>
    <%= render "posts/form", post: @post, button_message: "編集する" %>
  </div>
</div>