<div class="row">
  <div class="mx-auto">
    <hr>
    <div class="text-center font-english heading"><i class="fa-solid fa-wand-magic-sparkles yellow"></i> New Recipe</div>
    <hr>
    <%= render "posts/form", post: @post %>
  </div>
</div>