<hr>

<h5><b><div class="text-center">全ユーザー一覧</div></b></h5>

<table class="table">

  <tr>
    <th>プロフィール画像</th>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
  </tr>


    <% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(100,100) %></td>
    <td><%= link_to user.name, admin_user_path(user) %></td>
    <td><%= user.email %></td>
  </tr>
    <% end %>

</table>